.promptContainer {
    display: text;
    border: 1px solid gray;
    padding: 10px;
    width: 260px;
}

.prompt-text {
    height: 200px;
    width: 200px;
}

.fa-check {
    margin: 0px 10px;
}

textarea {
    border: none;  
    outline: none;
    resize: none;  
}

.stickyNote {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    margin: 20px;
}

#notes-container {
    display: flex;
    flex-wrap: wrap;
}